html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
}

.wrapper {
  max-width: 510px;
}
.weight-display {
  position: relative;
  z-index: 1;
  min-height: 270px;
  margin: 0 auto;
}

.plate-wrapper {
  width: 45px;
  overflow: hidden;
}
.plate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 5px;
  border-radius: 10px;
}

.clip {
  height: 50px;
  background-color: #333;
}

.barbell {
  transform: translate(-50%, -50%);
}
